/***** FrameWork: VarP
****** Author: Pasquale De Lucia
*****/

/*
** IMPORTS
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*
** STANDARD
*/

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Roboto', 'Lato', sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

body {
  background-color: #fcfcfc;
}
div {
  position: relative;
  display: block;
}

/*
** GRIDS
*/

.vcontainer {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 993px) {
  .vcontainer {
      width: 85%;
  }
}

@media only screen and (min-width: 601px) {
  .vcontainer {
      width: 85%;
  }
}

.vrow {
  margin: 10px 0 10px 0;
}

@media only screen and (min-width: 1280px) {
  .vrow .vcol.xl1 {
    width: 8.33333333333%;
  }
  .vrow .vcol.xl2 {
    width: 16.6666666667%;
  }
  .vrow .vcol.xl3 {
    width: 25%;
  }
  .vrow .vcol.xl4 {
    width: 33.33333333333%;
  }
  .vrow .vcol.xl5 {
    width: 41.6666666667%;
  }
  .vrow .vcol.xl6 {
    width: 50%;
  }
  .vrow .vcol.xl7 {
    width: 41.6666666667%;
  }
  .vrow .vcol.xl8 {
    width: 66.6666666667%;
  }
  .vrow .vcol.xl9 {
    width: 75%;
  }
  .vrow .vcol.xl10 {
    width: 83.3333333333%;
  }
  .vrow .vcol.xl11 {
    width: 91.6666666667%;
  }
  .vrow .vcol.xl12 {
    width: 100%
  }
}


@media only screen and (min-width: 993px) {
  .vrow .vcol.l1 {
    width: 8.33333333333%;
  }
  .vrow .vcol.l2 {
    width: 16.6666666667%;
  }
  .vrow .vcol.l3 {
    width: 25%;
  }
  .vrow .vcol.l4 {
    width: 33.33333333333%;
  }
  .vrow .vcol.l5 {
    width: 41.6666666667%;
  }
  .vrow .vcol.l6 {
    width: 50%;
  }
  .vrow .vcol.l7 {
    width: 41.6666666667%;
  }
  .vrow .vcol.l8 {
    width: 66.6666666667%;
  }
  .vrow .vcol.l9 {
    width: 75%;
  }
  .vrow .vcol.l10 {
    width: 83.3333333333%;
  }
  .vrow .vcol.l11 {
    width: 91.6666666667%;
  }
  .vrow .vcol.l12 {
    width: 100%
  }
}

@media only screen and (min-width: 601px) {
  .vrow .vcol.m1 {
    width: 8.33333333333%;
  }
  .vrow .vcol.m2 {
    width: 16.6666666667%;
  }
  .vrow .vcol.m3 {
    width: 25%;
  }
  .vrow .vcol.m4 {
    width: 33.33333333333%;
  }
  .vrow .vcol.m5 {
    width: 41.6666666667%;
  }
  .vrow .vcol.m6 {
    width: 50%;
  }
  .vrow .vcol.m7 {
    width: 41.6666666667%;
  }
  .vrow .vcol.m8 {
    width: 66.6666666667%;
  }
  .vrow .vcol.m9 {
    width: 75%;
  }
  .vrow .vcol.m10 {
    width: 83.3333333333%;
  }
  .vrow .vcol.m11 {
    width: 91.6666666667%;
  }
  .vrow .vcol.m12 {
    width: 100%
  }
}


.vrow .vcol.s1 {
  width: 8.33333333333%;
}
.vrow .vcol.s2 {
  width: 16.6666666667%;
}
.vrow .vcol.s3 {
  width: 25%;
}
.vrow .vcol.s4 {
  width: 33.33333333333%;
}
.vrow .vcol.s5 {
  width: 41.6666666667%;
}
.vrow .vcol.s6 {
  width: 50%;
}
.vrow .vcol.s7 {
  width: 41.6666666667%;
}
.vrow .vcol.s8 {
  width: 66.6666666667%;
}
.vrow .vcol.s9 {
  width: 75%;
}
.vrow .vcol.s10 {
  width: 83.3333333333%;
}
.vrow .vcol.s11 {
  width: 91.6666666667%;
}
.vrow .vcol.s12 {
  width: 100%
}

/*
** END GRIDS
*/

/*
** HELPERS
*/

.no-margin {
	margin: o;
}

/*
** END HELPERS
*/

/*
** HELPERS !important
*/

.no-margin-i {
	margin: o!important;
}

/*
** END HELPERS !important
*/

/* MARGINS */
.margin0 {
  margin: 0;
}
.margin5 {
  margin: 5px;
}
.margin10 {
  margin: 10px;
}
.margin15 {
  margin: 15px;
}
.margin20 {
  margin: 20px;
}
.margin25 {
  margin: 25px;
}
.margin30 {
  margin: 30px;
}
.margin35 {
  margin: 35px;
}
.margin40 {
  margin: 40px;
}
.margin45 {
  margin: 45px;
}
.margin50 {
  margin: 50px;
}
.margin.t0 {
  margin-top: 0;
}
.margin.t5 {
  margin-top: 5px;
}
.margin.t10 {
  margin-top: 10px;
}
.margin.t15 {
  margin-top: 15px;
}
.margin.t20 {
  margin-top: 20px;
}
.margin.t25 {
  margin-top: 25px;
}
.margin.t30 {
  margin-top: 30px;
}
.margin.t35 {
  margin-top: 35px;
}
.margin.t40 {
  margin-top: 40px;
}
.margin.t45 {
  margin-top: 45px;
}
.margin.t50 {
  margin-top: 50px;
}
.margin.b0 {
  margin-bottom: 0;
}
.margin.b5 {
  margin-bottom: 5px;
}
.margin.b10 {
  margin-bottom: 10px;
}
.margin.b15 {
  margin-bottom: 15px;
}
.margin.b20 {
  margin-bottom: 20px;
}
.margin.b25 {
  margin-bottom: 25px;
}
.margin.b30 {
  margin-bottom: 30px;
}
.margin.b35 {
  margin-bottom: 35px;
}
.margin.b40 {
  margin-bottom: 40px;
}
.margin.b45 {
  margin-bottom: 45px;
}
.margin.b50 {
  margin-bottom: 50px;
}
.margin.l0 {
  margin-left: 0;
}
.margin.l5 {
  margin-left: 5px;
}
.margin.l10 {
  margin-left: 10px;
}
.margin.l15 {
  margin-left: 15px;
}
.margin.l20 {
  margin-left: 20px;
}
.margin.l25 {
  margin-left: 25px;
}
.margin.l30 {
  margin-left: 30px;
}
.margin.l35 {
  margin-left: 35px;
}
.margin.l40 {
  margin-left: 40px;
}
.margin.l45 {
  margin-left: 45px;
}
.margin.l50 {
  margin-left: 50px;
}
.margin.r0 {
  margin-right: 0;
}
.margin.r5 {
  margin-right: 5px;
}
.margin.r10 {
  margin-right: 10px;
}
.margin.r15 {
  margin-right: 15px;
}
.margin.r20 {
  margin-right: 20px;
}
.margin.r25 {
  margin-right: 25px;
}
.margin.r30 {
  margin-right: 30px;
}
.margin.r35 {
  margin-right: 35px;
}
.margin.r40 {
  margin-right: 40px;
}
.margin.r45 {
  margin-right: 45px;
}
.margin.r50 {
  margin-right: 50px;
}

/* MARGINS IMPORTANT */
.margin0.i {
  margin: 0!important;
}
.margin5.i {
  margin: 5px !important;
}
.margin10.i {
  margin: 10px !important;
}
.margin15.i {
  margin: 15px !important;
}
.margin20.i {
  margin: 20px !important;
}
.margin25.i {
  margin: 25px !important;
}
.margin30.i {
  margin: 30px !important;
}
.margin35.i {
  margin: 35px !important;
}
.margin40.i {
  margin: 40px !important;
}
.margin45.i {
  margin: 45px !important;
}
.margin50.i {
  margin: 50px !important;
}
.margin.t0.i {
  margin-top: 0 !important;
}
.margin.t5.i {
  margin-top: 5px !important;
}
.margin.t10.i {
  margin-top: 10px !important;
}
.margin.t15.i {
  margin-top: 15px !important;
}
.margin.t20.i {
  margin-top: 20px !important;
}
.margin.t25.i {
  margin-top: 25px !important;
}
.margin.t30.i {
  margin-top: 30px !important;
}
.margin.t35.i {
  margin-top: 35px !important;
}
.margin.t40.i {
  margin-top: 40px !important;
}
.margin.t45.i {
  margin-top: 45px !important;
}
.margin.t50.i {
  margin-top: 50px !important;
}
.margin.b0.i {
  margin-bottom: 0 !important;
}
.margin.b5.i {
  margin-bottom: 5px !important;
}
.margin.b10.i {
  margin-bottom: 10px !important;
}
.margin.b15.i {
  margin-bottom: 15px !important;
}
.margin.b20.i {
  margin-bottom: 20px !important;
}
.margin.b25.i {
  margin-bottom: 25px !important;
}
.margin.b30.i {
  margin-bottom: 30px !important;
}
.margin.b35.i {
  margin-bottom: 35px !important;
}
.margin.b40.i {
  margin-bottom: 40px !important;
}
.margin.b45.i {
  margin-bottom: 45px !important;
}
.margin.b50.i {
  margin-bottom: 50px !important;
}
.margin.l0.i {
  margin-left: 0 !important;
}
.margin.l5.i {
  margin-left: 5px !important;
}
.margin.l10.i {
  margin-left: 10px !important;
}
.margin.l15.i {
  margin-left: 15px !important;
}
.margin.l20.i {
  margin-left: 20px !important;
}
.margin.l25.i {
  margin-left: 25px !important;
}
.margin.l30.i {
  margin-left: 30px !important;
}
.margin.l35.i {
  margin-left: 35px !important;
}
.margin.l40.i {
  margin-left: 40px !important;
}
.margin.l45.i {
  margin-left: 45px !important;
}
.margin.l50.i {
  margin-left: 50px !important;
}
.margin.r0.i {
  margin-right: 0 !important;
}
.margin.r5.i {
  margin-right: 5px !important;
}
.margin.r10.i {
  margin-right: 10px !important;
}
.margin.r15.i {
  margin-right: 15px !important;
}
.margin.r20.i {
  margin-right: 20px !important;
}
.margin.r25.i {
  margin-right: 25px !important;
}
.margin.r30.i {
  margin-right: 30px !important;
}
.margin.r35.i {
  margin-right: 35px !important;
}
.margin.r40.i {
  margin-right: 40px !important;
}
.margin.r45.i {
  margin-right: 45px !important;
}
.margin.r50.i {
  margin-right: 50px !important;
}

/* PADDINGS */
.padding0 {
  padding: 0;
}
.padding5 {
  padding: 5px;
}
.padding10 {
  padding: 10px;
}
.padding15 {
  padding: 15px;
}
.padding20 {
  padding: 20px;
}
.padding25 {
  padding: 25px;
}
.padding30 {
  padding: 30px;
}
.padding35 {
  padding: 35px;
}
.padding40 {
  padding: 40px;
}
.padding45 {
  padding: 45px;
}
.padding50 {
  padding: 50px;
}
.padding.t0 {
  padding-top: 0;
}
.padding.t5 {
  padding-top: 5px;
}
.padding.t10 {
  padding-top: 10px;
}
.padding.t15 {
  padding-top: 15px;
}
.padding.t20 {
  padding-top: 20px;
}
.padding.t25 {
  padding-top: 25px;
}
.padding.t30 {
  padding-top: 30px;
}
.padding.t35 {
  padding-top: 35px;
}
.padding.t40 {
  padding-top: 40px;
}
.padding.t45 {
  padding-top: 45px;
}
.padding.t50 {
  padding-top: 50px;
}
.padding.b0 {
  padding-bottom: 0;
}
.padding.b5 {
  padding-bottom: 5px;
}
.padding.b10 {
  padding-bottom: 10px;
}
.padding.b15 {
  padding-bottom: 15px;
}
.padding.b20 {
  padding-bottom: 20px;
}
.padding.b25 {
  padding-bottom: 25px;
}
.padding.b30 {
  padding-bottom: 30px;
}
.padding.b35 {
  padding-bottom: 35px;
}
.padding.b40 {
  padding-bottom: 40px;
}
.padding.b45 {
  padding-bottom: 45px;
}
.padding.b50 {
  padding-bottom: 50px;
}
.padding.l0 {
  padding-left: 0;
}
.padding.l5 {
  padding-left: 5px;
}
.padding.l10 {
  padding-left: 10px;
}
.padding.l15 {
  padding-left: 15px;
}
.padding.l20 {
  padding-left: 20px;
}
.padding.l25 {
  padding-left: 25px;
}
.padding.l30 {
  padding-left: 30px;
}
.padding.l35 {
  padding-left: 35px;
}
.padding.l40 {
  padding-left: 40px;
}
.padding.l45 {
  padding-left: 45px;
}
.padding.l50 {
  padding-left: 50px;
}
.padding.r0 {
  padding-right: 0;
}
.padding.r5 {
  padding-right: 5px;
}
.padding.r10 {
  padding-right: 10px;
}
.padding.r15 {
  padding-right: 15px;
}
.padding.r20 {
  padding-right: 20px;
}
.padding.r25 {
  padding-right: 25px;
}
.padding.r30 {
  padding-right: 30px;
}
.padding.r35 {
  padding-right: 35px;
}
.padding.r40 {
  padding-right: 40px;
}
.padding.r45 {
  padding-right: 45px;
}
.padding.r50 {
  padding-right: 50px;
}

/* WIDTH */
.width0 {
  width: 0;
}
.width5 {
  width: 5%;
}
.width10 {
  width: 10%;
}
.width15 {
  width: 15%;
}
.width20 {
  width: 20%;
}
.width25 {
  width: 25%;
}
.width30 {
  width: 30%;
}
.width35 {
  width: 35%;
}
.width40 {
  width: 40%;
}
.width45 {
  width: 45%;
}
.width50 {
  width: 50%;
}
.width55 {
  width: 55%;
}
.width60 {
  width: 60%;
}
.width65 {
  width: 65%;
}
.width70 {
  width: 70%;
}
.width75 {
  width: 75%;
}
.width80 {
  width: 80%;
}
.width85 {
  width: 85%;
}
.width90 {
  width: 90%;
}
.width95 {
  width: 95%;
}
.width100 {
  width: 100%;
}

/* HEIGHT */
.height0 {
  height: 0;
}
.height5 {
  height: 5%;
}
.height10 {
  height: 10%;
}
.height15 {
  height: 15%;
}
.height20 {
  height: 20%;
}
.height25 {
  height: 25%;
}
.height30 {
  height: 30%;
}
.height35 {
  height: 35%;
}
.height40 {
  height: 40%;
}
.height45 {
  height: 45%;
}
.height50 {
  height: 50%;
}
.height55 {
  height: 55%;
}
.height60 {
  height: 60%;
}
.height65 {
  height: 65%;
}
.height70 {
  height: 70%;
}
.height75 {
  height: 75%;
}
.height80 {
  height: 80%;
}
.height85 {
  height: 85%;
}
.height90 {
  height: 90%;
}
.height95 {
  height: 95%;
}
.height100 {
  height: 100%;
}

/* OPACITY */
.opacity.o0 {
  opacity: 0;
}
.opacity.o1 {
  opacity: 0.1;
}
.opacity.o2 {
  opacity: 0.2;
}
.opacity.o3 {
  opacity: 0.3;
}
.opacity.o4 {
  opacity: 0.4;
}
.opacity.o5 {
  opacity: 0.5;
}
.opacity.o6 {
  opacity: 0.6;
}
.opacity.o7 {
  opacity: 0.7;
}
.opacity.o8 {
  opacity: 0.8;
}
.opacity.o9 {
  opacity: 0.9;
}
.opacity.o {
  opacity: 1;
}
.opacity:hover,
.opacity:active {
  opacity: 1;
}

/* ALIGN */
.vtxt-center {
  text-align: center;
}
.vtxt-left {
  text-align: left;
}
.vtxt-right {
  text-align: right;
}
.vright {
  float: right;
}
.vleft {
  float: left;
}
.float-none {
  float: none;
}

/* END HELPERS */


/* DESKTOP */
@media only screen and (min-width: 1281px) {
  .row-flex {
    display: flex;
  }
}

/* LAPTOPS, DESKTOP */
@media only screen and (min-width: 993px) {
  .row-flex {
    display: flex;
  }
}

/* TABLET */
@media only screen and (min-width: 601px) {

}

/* MOBILE */
@media only screen and (max-width: 600px) {

}
