/***** FrameWork: VarP
****** Author: Pasquale De Lucia
*****/

/*
** IMPORTS
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
/*
** STANDARD
*/

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Roboto', 'Lato', sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

body {
  background-color: #fcfcfc;
}

div {
  position: relative;
  display: block;
}

/*
** GRIDS
*/

.v-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 993px) {
  .v-container {
    width: 85%;
  }
}

@media only screen and (min-width: 601px) {
  .v-container {
    width: 85%;
  }
}

.v-col {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.v-row.is-mobile>.v-col.is-narrow {
  flex: none;
}

.v-row.is-mobile>.v-col.is-full {
  flex: none;
  width: 100%;
}

.v-row.is-mobile>.v-col.is-three-quarters {
  flex: none;
  width: 75%;
}

.v-row.is-mobile>.v-col.is-two-thirds {
  flex: none;
  width: 66.6666%;
}

.v-row.is-mobile>.v-col.is-half {
  flex: none;
  width: 50%;
}

.v-row.is-mobile>.v-col.is-one-third {
  flex: none;
  width: 33.3333%;
}

.v-row.is-mobile>.v-col.is-one-quarter {
  flex: none;
  width: 25%;
}

.v-row.is-mobile>.v-col.is-one-fifth {
  flex: none;
  width: 20%;
}

.v-row.is-mobile>.v-col.is-two-fifths {
  flex: none;
  width: 40%;
}

.v-row.is-mobile>.v-col.is-three-fifths {
  flex: none;
  width: 60%;
}

.v-row.is-mobile>.v-col.is-four-fifths {
  flex: none;
  width: 80%;
}

.v-row.is-mobile>.v-col.is-offset-three-quarters {
  margin-left: 75%;
}

.v-row.is-mobile>.v-col.is-offset-two-thirds {
  margin-left: 66.6666%;
}

.v-row.is-mobile>.v-col.is-offset-half {
  margin-left: 50%;
}

.v-row.is-mobile>.v-col.is-offset-one-third {
  margin-left: 33.3333%;
}

.v-row.is-mobile>.v-col.is-offset-one-quarter {
  margin-left: 25%;
}

.v-row.is-mobile>.v-col.is-offset-one-fifth {
  margin-left: 20%;
}

.v-row.is-mobile>.v-col.is-offset-two-fifths {
  margin-left: 40%;
}

.v-row.is-mobile>.v-col.is-offset-three-fifths {
  margin-left: 60%;
}

.v-row.is-mobile>.v-col.is-offset-four-fifths {
  margin-left: 80%;
}

.v-row.is-mobile>.v-col.is-1 {
  flex: none;
  width: 8.33333%;
}

.v-row.is-mobile>.v-col.is-offset-1 {
  margin-left: 8.33333%;
}

.v-row.is-mobile>.v-col.is-2 {
  flex: none;
  width: 16.66667%;
}

.v-row.is-mobile>.v-col.is-offset-2 {
  margin-left: 16.66667%;
}

.v-row.is-mobile>.v-col.is-3 {
  flex: none;
  width: 25%;
}

.v-row.is-mobile>.v-col.is-offset-3 {
  margin-left: 25%;
}

.v-row.is-mobile>.v-col.is-4 {
  flex: none;
  width: 33.33333%;
}

.v-row.is-mobile>.v-col.is-offset-4 {
  margin-left: 33.33333%;
}

.v-row.is-mobile>.v-col.is-5 {
  flex: none;
  width: 41.66667%;
}

.v-row.is-mobile>.v-col.is-offset-5 {
  margin-left: 41.66667%;
}

.v-row.is-mobile>.v-col.is-6 {
  flex: none;
  width: 50%;
}

.v-row.is-mobile>.v-col.is-offset-6 {
  margin-left: 50%;
}

.v-row.is-mobile>.v-col.is-7 {
  flex: none;
  width: 58.33333%;
}

.v-row.is-mobile>.v-col.is-offset-7 {
  margin-left: 58.33333%;
}

.v-row.is-mobile>.v-col.is-8 {
  flex: none;
  width: 66.66667%;
}

.v-row.is-mobile>.v-col.is-offset-8 {
  margin-left: 66.66667%;
}

.v-row.is-mobile>.v-col.is-9 {
  flex: none;
  width: 75%;
}

.v-row.is-mobile>.v-col.is-offset-9 {
  margin-left: 75%;
}

.v-row.is-mobile>.v-col.is-10 {
  flex: none;
  width: 83.33333%;
}

.v-row.is-mobile>.v-col.is-offset-10 {
  margin-left: 83.33333%;
}

.v-row.is-mobile>.v-col.is-11 {
  flex: none;
  width: 91.66667%;
}

.v-row.is-mobile>.v-col.is-offset-11 {
  margin-left: 91.66667%;
}

.v-row.is-mobile>.v-col.is-12 {
  flex: none;
  width: 100%;
}

.v-row.is-mobile>.v-col.is-offset-12 {
  margin-left: 100%;
}

@media screen and (max-width: 768px) {
  .v-col.is-narrow-mobile {
    flex: none;
  }
  .v-col.is-full-mobile {
    flex: none;
    width: 100%;
  }
  .v-col.is-three-quarters-mobile {
    flex: none;
    width: 75%;
  }
  .v-col.is-two-thirds-mobile {
    flex: none;
    width: 66.6666%;
  }
  .v-col.is-half-mobile {
    flex: none;
    width: 50%;
  }
  .v-col.is-one-third-mobile {
    flex: none;
    width: 33.3333%;
  }
  .v-col.is-one-quarter-mobile {
    flex: none;
    width: 25%;
  }
  .v-col.is-one-fifth-mobile {
    flex: none;
    width: 20%;
  }
  .v-col.is-two-fifths-mobile {
    flex: none;
    width: 40%;
  }
  .v-col.is-three-fifths-mobile {
    flex: none;
    width: 60%;
  }
  .v-col.is-four-fifths-mobile {
    flex: none;
    width: 80%;
  }
  .v-col.is-offset-three-quarters-mobile {
    margin-left: 75%;
  }
  .v-col.is-offset-two-thirds-mobile {
    margin-left: 66.6666%;
  }
  .v-col.is-offset-half-mobile {
    margin-left: 50%;
  }
  .v-col.is-offset-one-third-mobile {
    margin-left: 33.3333%;
  }
  .v-col.is-offset-one-quarter-mobile {
    margin-left: 25%;
  }
  .v-col.is-offset-one-fifth-mobile {
    margin-left: 20%;
  }
  .v-col.is-offset-two-fifths-mobile {
    margin-left: 40%;
  }
  .v-col.is-offset-three-fifths-mobile {
    margin-left: 60%;
  }
  .v-col.is-offset-four-fifths-mobile {
    margin-left: 80%;
  }
  .v-col.is-1-mobile {
    flex: none;
    width: 8.33333%;
  }
  .v-col.is-offset-1-mobile {
    margin-left: 8.33333%;
  }
  .v-col.is-2-mobile {
    flex: none;
    width: 16.66667%;
  }
  .v-col.is-offset-2-mobile {
    margin-left: 16.66667%;
  }
  .v-col.is-3-mobile {
    flex: none;
    width: 25%;
  }
  .v-col.is-offset-3-mobile {
    margin-left: 25%;
  }
  .v-col.is-4-mobile {
    flex: none;
    width: 33.33333%;
  }
  .v-col.is-offset-4-mobile {
    margin-left: 33.33333%;
  }
  .v-col.is-5-mobile {
    flex: none;
    width: 41.66667%;
  }
  .v-col.is-offset-5-mobile {
    margin-left: 41.66667%;
  }
  .v-col.is-6-mobile {
    flex: none;
    width: 50%;
  }
  .v-col.is-offset-6-mobile {
    margin-left: 50%;
  }
  .v-col.is-7-mobile {
    flex: none;
    width: 58.33333%;
  }
  .v-col.is-offset-7-mobile {
    margin-left: 58.33333%;
  }
  .v-col.is-8-mobile {
    flex: none;
    width: 66.66667%;
  }
  .v-col.is-offset-8-mobile {
    margin-left: 66.66667%;
  }
  .v-col.is-9-mobile {
    flex: none;
    width: 75%;
  }
  .v-col.is-offset-9-mobile {
    margin-left: 75%;
  }
  .v-col.is-10-mobile {
    flex: none;
    width: 83.33333%;
  }
  .v-col.is-offset-10-mobile {
    margin-left: 83.33333%;
  }
  .v-col.is-11-mobile {
    flex: none;
    width: 91.66667%;
  }
  .v-col.is-offset-11-mobile {
    margin-left: 91.66667%;
  }
  .v-col.is-12-mobile {
    flex: none;
    width: 100%;
  }
  .v-col.is-offset-12-mobile {
    margin-left: 100%;
  }
}

@media screen and (min-width: 769px),
print {
  .v-col.is-narrow,
  .v-col.is-narrow-tablet {
    flex: none;
  }
  .v-col.is-full,
  .v-col.is-full-tablet {
    flex: none;
    width: 100%;
  }
  .v-col.is-three-quarters,
  .v-col.is-three-quarters-tablet {
    flex: none;
    width: 75%;
  }
  .v-col.is-two-thirds,
  .v-col.is-two-thirds-tablet {
    flex: none;
    width: 66.6666%;
  }
  .v-col.is-half,
  .v-col.is-half-tablet {
    flex: none;
    width: 50%;
  }
  .v-col.is-one-third,
  .v-col.is-one-third-tablet {
    flex: none;
    width: 33.3333%;
  }
  .v-col.is-one-quarter,
  .v-col.is-one-quarter-tablet {
    flex: none;
    width: 25%;
  }
  .v-col.is-one-fifth,
  .v-col.is-one-fifth-tablet {
    flex: none;
    width: 20%;
  }
  .v-col.is-two-fifths,
  .v-col.is-two-fifths-tablet {
    flex: none;
    width: 40%;
  }
  .v-col.is-three-fifths,
  .v-col.is-three-fifths-tablet {
    flex: none;
    width: 60%;
  }
  .v-col.is-four-fifths,
  .v-col.is-four-fifths-tablet {
    flex: none;
    width: 80%;
  }
  .v-col.is-offset-three-quarters,
  .v-col.is-offset-three-quarters-tablet {
    margin-left: 75%;
  }
  .v-col.is-offset-two-thirds,
  .v-col.is-offset-two-thirds-tablet {
    margin-left: 66.6666%;
  }
  .v-col.is-offset-half,
  .v-col.is-offset-half-tablet {
    margin-left: 50%;
  }
  .v-col.is-offset-one-third,
  .v-col.is-offset-one-third-tablet {
    margin-left: 33.3333%;
  }
  .v-col.is-offset-one-quarter,
  .v-col.is-offset-one-quarter-tablet {
    margin-left: 25%;
  }
  .v-col.is-offset-one-fifth,
  .v-col.is-offset-one-fifth-tablet {
    margin-left: 20%;
  }
  .v-col.is-offset-two-fifths,
  .v-col.is-offset-two-fifths-tablet {
    margin-left: 40%;
  }
  .v-col.is-offset-three-fifths,
  .v-col.is-offset-three-fifths-tablet {
    margin-left: 60%;
  }
  .v-col.is-offset-four-fifths,
  .v-col.is-offset-four-fifths-tablet {
    margin-left: 80%;
  }
  .v-col.is-1,
  .v-col.is-1-tablet {
    flex: none;
    width: 8.33333%;
  }
  .v-col.is-offset-1,
  .v-col.is-offset-1-tablet {
    margin-left: 8.33333%;
  }
  .v-col.is-2,
  .v-col.is-2-tablet {
    flex: none;
    width: 16.66667%;
  }
  .v-col.is-offset-2,
  .v-col.is-offset-2-tablet {
    margin-left: 16.66667%;
  }
  .v-col.is-3,
  .v-col.is-3-tablet {
    flex: none;
    width: 25%;
  }
  .v-col.is-offset-3,
  .v-col.is-offset-3-tablet {
    margin-left: 25%;
  }
  .v-col.is-4,
  .v-col.is-4-tablet {
    flex: none;
    width: 33.33333%;
  }
  .v-col.is-offset-4,
  .v-col.is-offset-4-tablet {
    margin-left: 33.33333%;
  }
  .v-col.is-5,
  .v-col.is-5-tablet {
    flex: none;
    width: 41.66667%;
  }
  .v-col.is-offset-5,
  .v-col.is-offset-5-tablet {
    margin-left: 41.66667%;
  }
  .v-col.is-6,
  .v-col.is-6-tablet {
    flex: none;
    width: 50%;
  }
  .v-col.is-offset-6,
  .v-col.is-offset-6-tablet {
    margin-left: 50%;
  }
  .v-col.is-7,
  .v-col.is-7-tablet {
    flex: none;
    width: 58.33333%;
  }
  .v-col.is-offset-7,
  .v-col.is-offset-7-tablet {
    margin-left: 58.33333%;
  }
  .v-col.is-8,
  .v-col.is-8-tablet {
    flex: none;
    width: 66.66667%;
  }
  .v-col.is-offset-8,
  .v-col.is-offset-8-tablet {
    margin-left: 66.66667%;
  }
  .v-col.is-9,
  .v-col.is-9-tablet {
    flex: none;
    width: 75%;
  }
  .v-col.is-offset-9,
  .v-col.is-offset-9-tablet {
    margin-left: 75%;
  }
  .v-col.is-10,
  .v-col.is-10-tablet {
    flex: none;
    width: 83.33333%;
  }
  .v-col.is-offset-10,
  .v-col.is-offset-10-tablet {
    margin-left: 83.33333%;
  }
  .v-col.is-11,
  .v-col.is-11-tablet {
    flex: none;
    width: 91.66667%;
  }
  .v-col.is-offset-11,
  .v-col.is-offset-11-tablet {
    margin-left: 91.66667%;
  }
  .v-col.is-12,
  .v-col.is-12-tablet {
    flex: none;
    width: 100%;
  }
  .v-col.is-offset-12,
  .v-col.is-offset-12-tablet {
    margin-left: 100%;
  }
}

@media screen and (max-width: 1087px) {
  .v-col.is-narrow-touch {
    flex: none;
  }
  .v-col.is-full-touch {
    flex: none;
    width: 100%;
  }
  .v-col.is-three-quarters-touch {
    flex: none;
    width: 75%;
  }
  .v-col.is-two-thirds-touch {
    flex: none;
    width: 66.6666%;
  }
  .v-col.is-half-touch {
    flex: none;
    width: 50%;
  }
  .v-col.is-one-third-touch {
    flex: none;
    width: 33.3333%;
  }
  .v-col.is-one-quarter-touch {
    flex: none;
    width: 25%;
  }
  .v-col.is-one-fifth-touch {
    flex: none;
    width: 20%;
  }
  .v-col.is-two-fifths-touch {
    flex: none;
    width: 40%;
  }
  .v-col.is-three-fifths-touch {
    flex: none;
    width: 60%;
  }
  .v-col.is-four-fifths-touch {
    flex: none;
    width: 80%;
  }
  .v-col.is-offset-three-quarters-touch {
    margin-left: 75%;
  }
  .v-col.is-offset-two-thirds-touch {
    margin-left: 66.6666%;
  }
  .v-col.is-offset-half-touch {
    margin-left: 50%;
  }
  .v-col.is-offset-one-third-touch {
    margin-left: 33.3333%;
  }
  .v-col.is-offset-one-quarter-touch {
    margin-left: 25%;
  }
  .v-col.is-offset-one-fifth-touch {
    margin-left: 20%;
  }
  .v-col.is-offset-two-fifths-touch {
    margin-left: 40%;
  }
  .v-col.is-offset-three-fifths-touch {
    margin-left: 60%;
  }
  .v-col.is-offset-four-fifths-touch {
    margin-left: 80%;
  }
  .v-col.is-1-touch {
    flex: none;
    width: 8.33333%;
  }
  .v-col.is-offset-1-touch {
    margin-left: 8.33333%;
  }
  .v-col.is-2-touch {
    flex: none;
    width: 16.66667%;
  }
  .v-col.is-offset-2-touch {
    margin-left: 16.66667%;
  }
  .v-col.is-3-touch {
    flex: none;
    width: 25%;
  }
  .v-col.is-offset-3-touch {
    margin-left: 25%;
  }
  .v-col.is-4-touch {
    flex: none;
    width: 33.33333%;
  }
  .v-col.is-offset-4-touch {
    margin-left: 33.33333%;
  }
  .v-col.is-5-touch {
    flex: none;
    width: 41.66667%;
  }
  .v-col.is-offset-5-touch {
    margin-left: 41.66667%;
  }
  .v-col.is-6-touch {
    flex: none;
    width: 50%;
  }
  .v-col.is-offset-6-touch {
    margin-left: 50%;
  }
  .v-col.is-7-touch {
    flex: none;
    width: 58.33333%;
  }
  .v-col.is-offset-7-touch {
    margin-left: 58.33333%;
  }
  .v-col.is-8-touch {
    flex: none;
    width: 66.66667%;
  }
  .v-col.is-offset-8-touch {
    margin-left: 66.66667%;
  }
  .v-col.is-9-touch {
    flex: none;
    width: 75%;
  }
  .v-col.is-offset-9-touch {
    margin-left: 75%;
  }
  .v-col.is-10-touch {
    flex: none;
    width: 83.33333%;
  }
  .v-col.is-offset-10-touch {
    margin-left: 83.33333%;
  }
  .v-col.is-11-touch {
    flex: none;
    width: 91.66667%;
  }
  .v-col.is-offset-11-touch {
    margin-left: 91.66667%;
  }
  .v-col.is-12-touch {
    flex: none;
    width: 100%;
  }
  .v-col.is-offset-12-touch {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1088px) {
  .v-col.is-narrow-desktop {
    flex: none;
  }
  .v-col.is-full-desktop {
    flex: none;
    width: 100%;
  }
  .v-col.is-three-quarters-desktop {
    flex: none;
    width: 75%;
  }
  .v-col.is-two-thirds-desktop {
    flex: none;
    width: 66.6666%;
  }
  .v-col.is-half-desktop {
    flex: none;
    width: 50%;
  }
  .v-col.is-one-third-desktop {
    flex: none;
    width: 33.3333%;
  }
  .v-col.is-one-quarter-desktop {
    flex: none;
    width: 25%;
  }
  .v-col.is-one-fifth-desktop {
    flex: none;
    width: 20%;
  }
  .v-col.is-two-fifths-desktop {
    flex: none;
    width: 40%;
  }
  .v-col.is-three-fifths-desktop {
    flex: none;
    width: 60%;
  }
  .v-col.is-four-fifths-desktop {
    flex: none;
    width: 80%;
  }
  .v-col.is-offset-three-quarters-desktop {
    margin-left: 75%;
  }
  .v-col.is-offset-two-thirds-desktop {
    margin-left: 66.6666%;
  }
  .v-col.is-offset-half-desktop {
    margin-left: 50%;
  }
  .v-col.is-offset-one-third-desktop {
    margin-left: 33.3333%;
  }
  .v-col.is-offset-one-quarter-desktop {
    margin-left: 25%;
  }
  .v-col.is-offset-one-fifth-desktop {
    margin-left: 20%;
  }
  .v-col.is-offset-two-fifths-desktop {
    margin-left: 40%;
  }
  .v-col.is-offset-three-fifths-desktop {
    margin-left: 60%;
  }
  .v-col.is-offset-four-fifths-desktop {
    margin-left: 80%;
  }
  .v-col.is-1-desktop {
    flex: none;
    width: 8.33333%;
  }
  .v-col.is-offset-1-desktop {
    margin-left: 8.33333%;
  }
  .v-col.is-2-desktop {
    flex: none;
    width: 16.66667%;
  }
  .v-col.is-offset-2-desktop {
    margin-left: 16.66667%;
  }
  .v-col.is-3-desktop {
    flex: none;
    width: 25%;
  }
  .v-col.is-offset-3-desktop {
    margin-left: 25%;
  }
  .v-col.is-4-desktop {
    flex: none;
    width: 33.33333%;
  }
  .v-col.is-offset-4-desktop {
    margin-left: 33.33333%;
  }
  .v-col.is-5-desktop {
    flex: none;
    width: 41.66667%;
  }
  .v-col.is-offset-5-desktop {
    margin-left: 41.66667%;
  }
  .v-col.is-6-desktop {
    flex: none;
    width: 50%;
  }
  .v-col.is-offset-6-desktop {
    margin-left: 50%;
  }
  .v-col.is-7-desktop {
    flex: none;
    width: 58.33333%;
  }
  .v-col.is-offset-7-desktop {
    margin-left: 58.33333%;
  }
  .v-col.is-8-desktop {
    flex: none;
    width: 66.66667%;
  }
  .v-col.is-offset-8-desktop {
    margin-left: 66.66667%;
  }
  .v-col.is-9-desktop {
    flex: none;
    width: 75%;
  }
  .v-col.is-offset-9-desktop {
    margin-left: 75%;
  }
  .v-col.is-10-desktop {
    flex: none;
    width: 83.33333%;
  }
  .v-col.is-offset-10-desktop {
    margin-left: 83.33333%;
  }
  .v-col.is-11-desktop {
    flex: none;
    width: 91.66667%;
  }
  .v-col.is-offset-11-desktop {
    margin-left: 91.66667%;
  }
  .v-col.is-12-desktop {
    flex: none;
    width: 100%;
  }
  .v-col.is-offset-12-desktop {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .v-col.is-narrow-widescreen {
    flex: none;
  }
  .v-col.is-full-widescreen {
    flex: none;
    width: 100%;
  }
  .v-col.is-three-quarters-widescreen {
    flex: none;
    width: 75%;
  }
  .v-col.is-two-thirds-widescreen {
    flex: none;
    width: 66.6666%;
  }
  .v-col.is-half-widescreen {
    flex: none;
    width: 50%;
  }
  .v-col.is-one-third-widescreen {
    flex: none;
    width: 33.3333%;
  }
  .v-col.is-one-quarter-widescreen {
    flex: none;
    width: 25%;
  }
  .v-col.is-one-fifth-widescreen {
    flex: none;
    width: 20%;
  }
  .v-col.is-two-fifths-widescreen {
    flex: none;
    width: 40%;
  }
  .v-col.is-three-fifths-widescreen {
    flex: none;
    width: 60%;
  }
  .v-col.is-four-fifths-widescreen {
    flex: none;
    width: 80%;
  }
  .v-col.is-offset-three-quarters-widescreen {
    margin-left: 75%;
  }
  .v-col.is-offset-two-thirds-widescreen {
    margin-left: 66.6666%;
  }
  .v-col.is-offset-half-widescreen {
    margin-left: 50%;
  }
  .v-col.is-offset-one-third-widescreen {
    margin-left: 33.3333%;
  }
  .v-col.is-offset-one-quarter-widescreen {
    margin-left: 25%;
  }
  .v-col.is-offset-one-fifth-widescreen {
    margin-left: 20%;
  }
  .v-col.is-offset-two-fifths-widescreen {
    margin-left: 40%;
  }
  .v-col.is-offset-three-fifths-widescreen {
    margin-left: 60%;
  }
  .v-col.is-offset-four-fifths-widescreen {
    margin-left: 80%;
  }
  .v-col.is-1-widescreen {
    flex: none;
    width: 8.33333%;
  }
  .v-col.is-offset-1-widescreen {
    margin-left: 8.33333%;
  }
  .v-col.is-2-widescreen {
    flex: none;
    width: 16.66667%;
  }
  .v-col.is-offset-2-widescreen {
    margin-left: 16.66667%;
  }
  .v-col.is-3-widescreen {
    flex: none;
    width: 25%;
  }
  .v-col.is-offset-3-widescreen {
    margin-left: 25%;
  }
  .v-col.is-4-widescreen {
    flex: none;
    width: 33.33333%;
  }
  .v-col.is-offset-4-widescreen {
    margin-left: 33.33333%;
  }
  .v-col.is-5-widescreen {
    flex: none;
    width: 41.66667%;
  }
  .v-col.is-offset-5-widescreen {
    margin-left: 41.66667%;
  }
  .v-col.is-6-widescreen {
    flex: none;
    width: 50%;
  }
  .v-col.is-offset-6-widescreen {
    margin-left: 50%;
  }
  .v-col.is-7-widescreen {
    flex: none;
    width: 58.33333%;
  }
  .v-col.is-offset-7-widescreen {
    margin-left: 58.33333%;
  }
  .v-col.is-8-widescreen {
    flex: none;
    width: 66.66667%;
  }
  .v-col.is-offset-8-widescreen {
    margin-left: 66.66667%;
  }
  .v-col.is-9-widescreen {
    flex: none;
    width: 75%;
  }
  .v-col.is-offset-9-widescreen {
    margin-left: 75%;
  }
  .v-col.is-10-widescreen {
    flex: none;
    width: 83.33333%;
  }
  .v-col.is-offset-10-widescreen {
    margin-left: 83.33333%;
  }
  .v-col.is-11-widescreen {
    flex: none;
    width: 91.66667%;
  }
  .v-col.is-offset-11-widescreen {
    margin-left: 91.66667%;
  }
  .v-col.is-12-widescreen {
    flex: none;
    width: 100%;
  }
  .v-col.is-offset-12-widescreen {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1472px) {
  .v-col.is-narrow-fullhd {
    flex: none;
  }
  .v-col.is-full-fullhd {
    flex: none;
    width: 100%;
  }
  .v-col.is-three-quarters-fullhd {
    flex: none;
    width: 75%;
  }
  .v-col.is-two-thirds-fullhd {
    flex: none;
    width: 66.6666%;
  }
  .v-col.is-half-fullhd {
    flex: none;
    width: 50%;
  }
  .v-col.is-one-third-fullhd {
    flex: none;
    width: 33.3333%;
  }
  .v-col.is-one-quarter-fullhd {
    flex: none;
    width: 25%;
  }
  .v-col.is-one-fifth-fullhd {
    flex: none;
    width: 20%;
  }
  .v-col.is-two-fifths-fullhd {
    flex: none;
    width: 40%;
  }
  .v-col.is-three-fifths-fullhd {
    flex: none;
    width: 60%;
  }
  .v-col.is-four-fifths-fullhd {
    flex: none;
    width: 80%;
  }
  .v-col.is-offset-three-quarters-fullhd {
    margin-left: 75%;
  }
  .v-col.is-offset-two-thirds-fullhd {
    margin-left: 66.6666%;
  }
  .v-col.is-offset-half-fullhd {
    margin-left: 50%;
  }
  .v-col.is-offset-one-third-fullhd {
    margin-left: 33.3333%;
  }
  .v-col.is-offset-one-quarter-fullhd {
    margin-left: 25%;
  }
  .v-col.is-offset-one-fifth-fullhd {
    margin-left: 20%;
  }
  .v-col.is-offset-two-fifths-fullhd {
    margin-left: 40%;
  }
  .v-col.is-offset-three-fifths-fullhd {
    margin-left: 60%;
  }
  .v-col.is-offset-four-fifths-fullhd {
    margin-left: 80%;
  }
  .v-col.is-1-fullhd {
    flex: none;
    width: 8.33333%;
  }
  .v-col.is-offset-1-fullhd {
    margin-left: 8.33333%;
  }
  .v-col.is-2-fullhd {
    flex: none;
    width: 16.66667%;
  }
  .v-col.is-offset-2-fullhd {
    margin-left: 16.66667%;
  }
  .v-col.is-3-fullhd {
    flex: none;
    width: 25%;
  }
  .v-col.is-offset-3-fullhd {
    margin-left: 25%;
  }
  .v-col.is-4-fullhd {
    flex: none;
    width: 33.33333%;
  }
  .v-col.is-offset-4-fullhd {
    margin-left: 33.33333%;
  }
  .v-col.is-5-fullhd {
    flex: none;
    width: 41.66667%;
  }
  .v-col.is-offset-5-fullhd {
    margin-left: 41.66667%;
  }
  .v-col.is-6-fullhd {
    flex: none;
    width: 50%;
  }
  .v-col.is-offset-6-fullhd {
    margin-left: 50%;
  }
  .v-col.is-7-fullhd {
    flex: none;
    width: 58.33333%;
  }
  .v-col.is-offset-7-fullhd {
    margin-left: 58.33333%;
  }
  .v-col.is-8-fullhd {
    flex: none;
    width: 66.66667%;
  }
  .v-col.is-offset-8-fullhd {
    margin-left: 66.66667%;
  }
  .v-col.is-9-fullhd {
    flex: none;
    width: 75%;
  }
  .v-col.is-offset-9-fullhd {
    margin-left: 75%;
  }
  .v-col.is-10-fullhd {
    flex: none;
    width: 83.33333%;
  }
  .v-col.is-offset-10-fullhd {
    margin-left: 83.33333%;
  }
  .v-col.is-11-fullhd {
    flex: none;
    width: 91.66667%;
  }
  .v-col.is-offset-11-fullhd {
    margin-left: 91.66667%;
  }
  .v-col.is-12-fullhd {
    flex: none;
    width: 100%;
  }
  .v-col.is-offset-12-fullhd {
    margin-left: 100%;
  }
}

.v-row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.v-row:last-child {
  margin-bottom: -0.75rem;
}

.v-row:not(:last-child) {
  margin-bottom: calc(1.5rem - 0.75rem);
}

.v-row.is-centered {
  justify-content: center;
}

.v-row.is-gapless {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.v-row.is-gapless>.v-col {
  margin: 0;
  padding: 0 !important;
}

.v-row.is-gapless:not(:last-child) {
  margin-bottom: 1.5rem;
}

.v-row.is-gapless:last-child {
  margin-bottom: 0;
}

.v-row.is-mobile {
  display: flex;
}

.v-row.is-multiline {
  flex-wrap: wrap;
}

.v-row.is-vcentered {
  align-items: center;
}

@media screen and (min-width: 769px),
print {
  .v-row:not(.is-desktop) {
    display: flex;
  }
}

@media screen and (min-width: 1088px) {
  .v-row.is-desktop {
    display: flex;
  }
}

.v-row.is-variable {
  --columnGap: 0.75rem;
  margin-left: calc(-1 * var(--columnGap));
  margin-right: calc(-1 * var(--columnGap));
}

.v-row.is-variable .v-col {
  padding-left: var(--columnGap);
  padding-right: var(--columnGap);
}

.v-row.is-variable.is-0 {
  --columnGap: 0rem;
}

.v-row.is-variable.is-1 {
  --columnGap: 0.25rem;
}

.v-row.is-variable.is-2 {
  --columnGap: 0.5rem;
}

.v-row.is-variable.is-3 {
  --columnGap: 0.75rem;
}

.v-row.is-variable.is-4 {
  --columnGap: 1rem;
}

.v-row.is-variable.is-5 {
  --columnGap: 1.25rem;
}

.v-row.is-variable.is-6 {
  --columnGap: 1.5rem;
}

.v-row.is-variable.is-7 {
  --columnGap: 1.75rem;
}

.v-row.is-variable.is-8 {
  --columnGap: 2rem;
}

/*
** END GRIDS
*/

/*
** HELPERS
*/

.v-no-margin {
  margin: 0;
}

.v-margin-auto {
  margin: auto;
}

/*
** END HELPERS
*/

/*
** HELPERS !important
*/

.v-no-margin-i {
  margin: 0 !important;
}

.v-margin-auto-i {
  margin: auto !important;
}

/*
** END HELPERS !important
*/

/* MARGINS */

.v-margin-0 {
  margin: 0;
}

.v-margin-5 {
  margin: 5px;
}

.v-margin-10 {
  margin: 10px;
}

.v-margin-15 {
  margin: 15px;
}

.v-margin-20 {
  margin: 20px;
}

.v-margin-25 {
  margin: 25px;
}

.v-margin-30 {
  margin: 30px;
}

.v-margin-35 {
  margin: 35px;
}

.v-margin-40 {
  margin: 40px;
}

.v-margin-45 {
  margin: 45px;
}

.v-margin-50 {
  margin: 50px;
}

.v-margin-t-0 {
  margin-top: 0;
}

.v-margin-t-5 {
  margin-top: 5px;
}

.v-margin-t-10 {
  margin-top: 10px;
}

.v-margin-t-15 {
  margin-top: 15px;
}

.v-margin-t-20 {
  margin-top: 20px;
}

.v-margin-t-25 {
  margin-top: 25px;
}

.v-margin-t-30 {
  margin-top: 30px;
}

.v-margin-t-35 {
  margin-top: 35px;
}

.v-margin-t-40 {
  margin-top: 40px;
}

.v-margin-t-45 {
  margin-top: 45px;
}

.v-margin-t-50 {
  margin-top: 50px;
}

.v-margin-b-0 {
  margin-bottom: 0;
}

.v-margin-b-5 {
  margin-bottom: 5px;
}

.v-margin-b-10 {
  margin-bottom: 10px;
}

.v-margin-b-15 {
  margin-bottom: 15px;
}

.v-margin-b-20 {
  margin-bottom: 20px;
}

.v-margin-b-25 {
  margin-bottom: 25px;
}

.v-margin-b-30 {
  margin-bottom: 30px;
}

.v-margin-b-35 {
  margin-bottom: 35px;
}

.v-margin-b-40 {
  margin-bottom: 40px;
}

.v-margin-b-45 {
  margin-bottom: 45px;
}

.v-margin-b-50 {
  margin-bottom: 50px;
}

.v-margin-l-0 {
  margin-left: 0;
}

.v-margin-l-5 {
  margin-left: 5px;
}

.v-margin-l-10 {
  margin-left: 10px;
}

.v-margin-l-15 {
  margin-left: 15px;
}

.v-margin-l-20 {
  margin-left: 20px;
}

.v-margin-l-25 {
  margin-left: 25px;
}

.v-margin-l-30 {
  margin-left: 30px;
}

.v-margin-l-35 {
  margin-left: 35px;
}

.v-margin-l-40 {
  margin-left: 40px;
}

.v-margin-l-45 {
  margin-left: 45px;
}

.v-margin-l-50 {
  margin-left: 50px;
}

.v-margin-r-0 {
  margin-right: 0;
}

.v-margin-r-5 {
  margin-right: 5px;
}

.v-margin-r-10 {
  margin-right: 10px;
}

.v-margin-r-15 {
  margin-right: 15px;
}

.v-margin-r-20 {
  margin-right: 20px;
}

.v-margin-r-25 {
  margin-right: 25px;
}

.v-margin-r-30 {
  margin-right: 30px;
}

.v-margin-r-35 {
  margin-right: 35px;
}

.v-margin-r-40 {
  margin-right: 40px;
}

.v-margin-r-45 {
  margin-right: 45px;
}

.v-margin-r-50 {
  margin-right: 50px;
}

/* MARGINS IMPORTANT */

.v-margin-0-i {
  margin: 0 !important;
}

.v-margin-5-i {
  margin: 5px !important;
}

.v-margin-10-i {
  margin: 10px !important;
}

.v-margin-15-i {
  margin: 15px !important;
}

.v-margin-20-i {
  margin: 20px !important;
}

.v-margin-25-i {
  margin: 25px !important;
}

.v-margin-30-i {
  margin: 30px !important;
}

.v-margin-35-i {
  margin: 35px !important;
}

.v-margin-40-i {
  margin: 40px !important;
}

.v-margin-45-i {
  margin: 45px !important;
}

.v-margin-50-i {
  margin: 50px !important;
}

.v-margin-t-0-i {
  margin-top: 0 !important;
}

.v-margin-t-5-i {
  margin-top: 5px !important;
}

.v-margin-t-10-i {
  margin-top: 10px !important;
}

.v-margin-t-15-i {
  margin-top: 15px !important;
}

.v-margin-t-20-i {
  margin-top: 20px !important;
}

.v-margin-t-25-i {
  margin-top: 25px !important;
}

.v-margin-t-30-i {
  margin-top: 30px !important;
}

.v-margin-t-35-i {
  margin-top: 35px !important;
}

.v-margin-t-40-i {
  margin-top: 40px !important;
}

.v-margin-t-45-i {
  margin-top: 45px !important;
}

.v-margin-t-50-i {
  margin-top: 50px !important;
}

.v-margin-b-0-i {
  margin-bottom: 0 !important;
}

.v-margin-b-5-i {
  margin-bottom: 5px !important;
}

.v-margin-b-10-i {
  margin-bottom: 10px !important;
}

.v-margin-b-15-i {
  margin-bottom: 15px !important;
}

.v-margin-b-20-i {
  margin-bottom: 20px !important;
}

.v-margin-b-25-i {
  margin-bottom: 25px !important;
}

.v-margin-b-30-i {
  margin-bottom: 30px !important;
}

.v-margin-b-35-i {
  margin-bottom: 35px !important;
}

.v-margin-b-40-i {
  margin-bottom: 40px !important;
}

.v-margin-b-45-i {
  margin-bottom: 45px !important;
}

.v-margin-b-50-i {
  margin-bottom: 50px !important;
}

.v-margin-l-0-i {
  margin-left: 0 !important;
}

.v-margin-l-5-i {
  margin-left: 5px !important;
}

.v-margin-l-10-i {
  margin-left: 10px !important;
}

.v-margin-l-15-i {
  margin-left: 15px !important;
}

.v-margin-l-20-i {
  margin-left: 20px !important;
}

.v-margin-l-25-i {
  margin-left: 25px !important;
}

.v-margin-l-30-i {
  margin-left: 30px !important;
}

.v-margin-l-35-i {
  margin-left: 35px !important;
}

.v-margin-l-40-i {
  margin-left: 40px !important;
}

.v-margin-l-45-i {
  margin-left: 45px !important;
}

.v-margin-l-50-i {
  margin-left: 50px !important;
}

.v-margin-r-0-i {
  margin-right: 0 !important;
}

.v-margin-r-5-i {
  margin-right: 5px !important;
}

.v-margin-r-10-i {
  margin-right: 10px !important;
}

.v-margin-r-15-i {
  margin-right: 15px !important;
}

.v-margin-r-20-i {
  margin-right: 20px !important;
}

.v-margin-r-25-i {
  margin-right: 25px !important;
}

.v-margin-r-30-i {
  margin-right: 30px !important;
}

.v-margin-r-35-i {
  margin-right: 35px !important;
}

.v-margin-r-40-i {
  margin-right: 40px !important;
}

.v-margin-r-45-i {
  margin-right: 45px !important;
}

.v-margin-r-50-i {
  margin-right: 50px !important;
}

/* PADDINGS */

.v-padding-0 {
  padding: 0;
}

.v-padding-5 {
  padding: 5px;
}

.v-padding-10 {
  padding: 10px;
}

.v-padding-15 {
  padding: 15px;
}

.v-padding-20 {
  padding: 20px;
}

.v-padding-25 {
  padding: 25px;
}

.v-padding-30 {
  padding: 30px;
}

.v-padding-35 {
  padding: 35px;
}

.v-padding-40 {
  padding: 40px;
}

.v-padding-45 {
  padding: 45px;
}

.v-padding-50 {
  padding: 50px;
}

.v-padding-t-0 {
  padding-top: 0;
}

.v-padding-t-5 {
  padding-top: 5px;
}

.v-padding-t-10 {
  padding-top: 10px;
}

.v-padding-t-15 {
  padding-top: 15px;
}

.v-padding-t-20 {
  padding-top: 20px;
}

.v-padding-t-25 {
  padding-top: 25px;
}

.v-padding-t-30 {
  padding-top: 30px;
}

.v-padding-t-35 {
  padding-top: 35px;
}

.v-padding-t-40 {
  padding-top: 40px;
}

.v-padding-t-45 {
  padding-top: 45px;
}

.v-padding-t-50 {
  padding-top: 50px;
}

.v-padding-b-0 {
  padding-bottom: 0;
}

.v-padding-b-5 {
  padding-bottom: 5px;
}

.v-padding-b-10 {
  padding-bottom: 10px;
}

.v-padding-b-15 {
  padding-bottom: 15px;
}

.v-padding-b-20 {
  padding-bottom: 20px;
}

.v-padding-b-25 {
  padding-bottom: 25px;
}

.v-padding-b-30 {
  padding-bottom: 30px;
}

.v-padding-b-35 {
  padding-bottom: 35px;
}

.v-padding-b-40 {
  padding-bottom: 40px;
}

.v-padding-b-45 {
  padding-bottom: 45px;
}

.v-padding-b-50 {
  padding-bottom: 50px;
}

.v-padding-l-0 {
  padding-left: 0;
}

.v-padding-l-5 {
  padding-left: 5px;
}

.v-padding-l-10 {
  padding-left: 10px;
}

.v-padding-l-15 {
  padding-left: 15px;
}

.v-padding-l-20 {
  padding-left: 20px;
}

.v-padding-l-25 {
  padding-left: 25px;
}

.v-padding-l-30 {
  padding-left: 30px;
}

.v-padding-l-35 {
  padding-left: 35px;
}

.v-padding-l-40 {
  padding-left: 40px;
}

.v-padding-l-45 {
  padding-left: 45px;
}

.v-padding-l-50 {
  padding-left: 50px;
}

.v-padding-r-0 {
  padding-right: 0;
}

.v-padding-r-5 {
  padding-right: 5px;
}

.v-padding-r-10 {
  padding-right: 10px;
}

.v-padding-r-15 {
  padding-right: 15px;
}

.v-padding-r-20 {
  padding-right: 20px;
}

.v-padding-r-25 {
  padding-right: 25px;
}

.v-padding-r-30 {
  padding-right: 30px;
}

.v-padding-r-35 {
  padding-right: 35px;
}

.v-padding-r-40 {
  padding-right: 40px;
}

.v-padding-r-45 {
  padding-right: 45px;
}

.v-padding-r-50 {
  padding-right: 50px;
}

/* PADDINGS IMPORTANT */

.v-padding-0-i {
  padding: 0 !important;
}

.v-padding-5-i {
  padding: 5px !important;
}

.v-padding-10-i {
  padding: 10px !important;
}

.v-padding-15-i {
  padding: 15px !important;
}

.v-padding-20-i {
  padding: 20px !important;
}

.v-padding-25-i {
  padding: 25px !important;
}

.v-padding-30-i {
  padding: 30px !important;
}

.v-padding-35-i {
  padding: 35px !important;
}

.v-padding-40-i {
  padding: 40px !important;
}

.v-padding-45-i {
  padding: 45px !important;
}

.v-padding-50-i {
  padding: 50px !important;
}

.v-padding-t-0-i {
  padding-top: 0 !important;
}

.v-padding-t-5-i {
  padding-top: 5px !important;
}

.v-padding-t-10-i {
  padding-top: 10px !important;
}

.v-padding-t-15-i {
  padding-top: 15px !important;
}

.v-padding-t-20-i {
  padding-top: 20px !important;
}

.v-padding-t-25-i {
  padding-top: 25px !important;
}

.v-padding-t-30-i {
  padding-top: 30px !important;
}

.v-padding-t-35-i {
  padding-top: 35px !important;
}

.v-padding-t-40-i {
  padding-top: 40px !important;
}

.v-padding-t-45-i {
  padding-top: 45px !important;
}

.v-padding-t-50-i {
  padding-top: 50px !important;
}

.v-padding-b-0-i {
  padding-bottom: 0 !important;
}

.v-padding-b-5-i {
  padding-bottom: 5px !important;
}

.v-padding-b-10-i {
  padding-bottom: 10px !important;
}

.v-padding-b-15-i {
  padding-bottom: 15px !important;
}

.v-padding-b-20-i {
  padding-bottom: 20px !important;
}

.v-padding-b-25-i {
  padding-bottom: 25px !important;
}

.v-padding-b-30-i {
  padding-bottom: 30px !important;
}

.v-padding-b-35-i {
  padding-bottom: 35px !important;
}

.v-padding-b-40-i {
  padding-bottom: 40px !important;
}

.v-padding-b-45-i {
  padding-bottom: 45px !important;
}

.v-padding-b-50-i {
  padding-bottom: 50px !important;
}

.v-padding-l-0-i {
  padding-left: 0 !important;
}

.v-padding-l-5-i {
  padding-left: 5px !important;
}

.v-padding-l-10-i {
  padding-left: 10px !important;
}

.v-padding-l-15-i {
  padding-left: 15px !important;
}

.v-padding-l-20-i {
  padding-left: 20px !important;
}

.v-padding-l-25-i {
  padding-left: 25px !important;
}

.v-padding-l-30-i {
  padding-left: 30px !important;
}

.v-padding-l-35-i {
  padding-left: 35px !important;
}

.v-padding-l-40-i {
  padding-left: 40px !important;
}

.v-padding-l-45-i {
  padding-left: 45px !important;
}

.v-padding-l-50-i {
  padding-left: 50px !important;
}

.v-padding-r-0-i {
  padding-right: 0 !important;
}

.v-padding-r-5-i {
  padding-right: 5px !important;
}

.v-padding-r-10-i {
  padding-right: 10px !important;
}

.v-padding-r-15-i {
  padding-right: 15px !important;
}

.v-padding-r-20-i {
  padding-right: 20px !important;
}

.v-padding-r-25-i {
  padding-right: 25px !important;
}

.v-padding-r-30-i {
  padding-right: 30px !important;
}

.v-padding-r-35-i {
  padding-right: 35px !important;
}

.v-padding-r-40-i {
  padding-right: 40px !important;
}

.v-padding-r-45-i {
  padding-right: 45px !important;
}

.v-padding-r-50-i {
  padding-right: 50px !important;
}

/* WIDTH */

.v-width-0 {
  width: 0;
}

.v-width-5 {
  width: 5%;
}

.v-width-10 {
  width: 10%;
}

.v-width-15 {
  width: 15%;
}

.v-width-20 {
  width: 20%;
}

.v-width-25 {
  width: 25%;
}

.v-width-30 {
  width: 30%;
}

.v-width-35 {
  width: 35%;
}

.v-width-40 {
  width: 40%;
}

.v-width-45 {
  width: 45%;
}

.v-width-50 {
  width: 50%;
}

.v-width-55 {
  width: 55%;
}

.v-width-60 {
  width: 60%;
}

.v-width-65 {
  width: 65%;
}

.v-width-70 {
  width: 70%;
}

.v-width-75 {
  width: 75%;
}

.v-width-80 {
  width: 80%;
}

.v-width-85 {
  width: 85%;
}

.v-width-90 {
  width: 90%;
}

.v-width-95 {
  width: 95%;
}

.v-width-100 {
  width: 100%;
}

/* WIDTH IMPORTANT*/

.v-width-0-i {
  width: 0 !important;
}

.v-width-5-i {
  width: 5% !important;
}

.v-width-10-i {
  width: 10% !important;
}

.v-width-15-i {
  width: 15% !important;
}

.v-width-20-i {
  width: 20% !important;
}

.v-width-25-i {
  width: 25% !important;
}

.v-width-30-i {
  width: 30% !important;
}

.v-width-35-i {
  width: 35% !important;
}

.v-width-40-i {
  width: 40% !important;
}

.v-width-45-i {
  width: 45% !important;
}

.v-width-50-i {
  width: 50% !important;
}

.v-width-55-i {
  width: 55% !important;
}

.v-width-60-i {
  width: 60% !important;
}

.v-width-65-i {
  width: 65% !important;
}

.v-width-70-i {
  width: 70% !important;
}

.v-width-75-i {
  width: 75% !important;
}

.v-width-80-i {
  width: 80% !important;
}

.v-width-85-i {
  width: 85% !important;
}

.v-width-90-i {
  width: 90% !important;
}

.v-width-95-i {
  width: 95% !important;
}

.v-width-100-i {
  width: 100% !important;
}

/* HEIGHT */

.v-height-0 {
  height: 0;
}

.v-height-5 {
  height: 5%;
}

.v-height-10 {
  height: 10%;
}

.v-height-15 {
  height: 15%;
}

.v-height-20 {
  height: 20%;
}

.v-height-25 {
  height: 25%;
}

.v-height-30 {
  height: 30%;
}

.v-height-35 {
  height: 35%;
}

.v-height-40 {
  height: 40%;
}

.v-height-45 {
  height: 45%;
}

.v-height-50 {
  height: 50%;
}

.v-height-55 {
  height: 55%;
}

.v-height-60 {
  height: 60%;
}

.v-height-65 {
  height: 65%;
}

.v-height-70 {
  height: 70%;
}

.v-height-75 {
  height: 75%;
}

.v-height-80 {
  height: 80%;
}

.v-height-85 {
  height: 85%;
}

.v-height-90 {
  height: 90%;
}

.v-height-95 {
  height: 95%;
}

.v-height-100 {
  height: 100%;
}

/* HEIGHT important*/

.v-height-0-i {
  height: 0 !important;
}

.v-height-5-i {
  height: 5% !important;
}

.v-height-10-i {
  height: 10% !important;
}

.v-height-15-i {
  height: 15% !important;
}

.v-height-20-i {
  height: 20% !important;
}

.v-height-25-i {
  height: 25% !important;
}

.v-height-30-i {
  height: 30% !important;
}

.v-height-35-i {
  height: 35% !important;
}

.v-height-40-i {
  height: 40% !important;
}

.v-height-45-i {
  height: 45% !important;
}

.v-height-50-i {
  height: 50% !important;
}

.v-height-55-i {
  height: 55% !important;
}

.v-height-60-i {
  height: 60% !important;
}

.v-height-65-i {
  height: 65% !important;
}

.v-height-70-i {
  height: 70% !important;
}

.v-height-75-i {
  height: 75% !important;
}

.v-height-80-i {
  height: 80% !important;
}

.v-height-85-i {
  height: 85% !important;
}

.v-height-90-i {
  height: 90% !important;
}

.v-height-95 {
  height: 95% !important;
}

.v-height-100 {
  height: 100% !important;
}

/* OPACITY */

.v-opacity-0 {
  opacity: 0;
}

.v-opacity-1 {
  opacity: 0.1;
}

.v-opacity-2 {
  opacity: 0.2;
}

.v-opacity-3 {
  opacity: 0.3;
}

.v-opacity-4 {
  opacity: 0.4;
}

.v-opacity-5 {
  opacity: 0.5;
}

.v-opacity-6 {
  opacity: 0.6;
}

.v-opacity-7 {
  opacity: 0.7;
}

.v-opacity-8 {
  opacity: 0.8;
}

.v-opacity-9 {
  opacity: 0.9;
}

.v-opacity-10 {
  opacity: 1;
}

/* OPACITY IMPORTANT */

.v-opacity-0-i {
  opacity: 0 !important;
}

.v-opacity-1-i {
  opacity: 0.1 !important;
}

.v-opacity-2-i {
  opacity: 0.2 !important;
}

.v-opacity-3-i {
  opacity: 0.3 !important;
}

.v-opacity-4-i {
  opacity: 0.4 !important;
}

.v-opacity-5-i {
  opacity: 0.5 !important;
}

.v-opacity-6-i {
  opacity: 0.6 !important;
}

.v-opacity-7-i {
  opacity: 0.7 !important;
}

.v-opacity-8-i {
  opacity: 0.8 !important;
}

.v-opacity-9-i {
  opacity: 0.9 !important;
}

.v-opacity-10-i {
  opacity: 1 !important;
}

/* FONT SIZE */

.v-size-8 {
  font-size: 8px;
}

.v-size-9 {
  font-size: 9px;
}

.v-size-10 {
  font-size: 10px;
}

.v-size-11 {
  font-size: 11px;
}

.v-size-12 {
  font-size: 12px;
}

.v-size-13 {
  font-size: 13px;
}

.v-size-14 {
  font-size: 14px;
}

.v-size-15 {
  font-size: 15px;
}

.v-size-16 {
  font-size: 16px;
}

.v-size-17 {
  font-size: 18px;
}

.v-size-19 {
  font-size: 19px;
}

.v-size-20 {
  font-size: 20px;
}

.v-size-21 {
  font-size: 21px;
}

.v-size-22 {
  font-size: 22px;
}

.v-size-23 {
  font-size: 23px;
}

.v-size-24 {
  font-size: 24px;
}

.v-size-25 {
  font-size: 25px;
}

.v-size-26 {
  font-size: 26px;
}

.v-size-27 {
  font-size: 27px;
}

.v-size-28 {
  font-size: 28px;
}

.v-size-29 {
  font-size: 29px;
}

.v-size-30 {
  font-size: 30px;
}

.v-size-31 {
  font-size: 31px;
}

.v-size-32 {
  font-size: 31px;
}

.v-size-33 {
  font-size: 33px;
}

.v-size-34 {
  font-size: 34px;
}

.v-size-35 {
  font-size: 35px;
}

.v-size-36 {
  font-size: 36px;
}

.v-size-37 {
  font-size: 37px;
}

.v-size-38 {
  font-size: 38px;
}

.v-size-39 {
  font-size: 39px;
}

.v-size-40 {
  font-size: 40px;
}

.v-size-41 {
  font-size: 41px;
}

.v-size-42 {
  font-size: 41px;
}

.v-size-43 {
  font-size: 43px;
}

.v-size-44 {
  font-size: 44px;
}

.v-size-45 {
  font-size: 45px;
}

.v-size-46 {
  font-size: 46px;
}

.v-size-47 {
  font-size: 47px;
}

.v-size-48 {
  font-size: 48px;
}

.v-size-49 {
  font-size: 49px;
}

.v-size-50 {
  font-size: 50px;
}

/* FONT SIZE IMPORTANT */

.v-size-8-i {
  font-size: 8px !important;
}

.v-size-9-i {
  font-size: 9px !important;
}

.v-size-10-i {
  font-size: 10px !important;
}

.v-size-11-i {
  font-size: 11px !important;
}

.v-size-12-i {
  font-size: 12px !important;
}

.v-size-13-i {
  font-size: 13px !important;
}

.v-size-14-i {
  font-size: 14px !important;
}

.v-size-15-i {
  font-size: 15px !important;
}

.v-size-16-i {
  font-size: 16px !important;
}

.v-size-17-i {
  font-size: 18px !important;
}

.v-size-19-i {
  font-size: 19px !important;
}

.v-size-20-i {
  font-size: 20px !important;
}

.v-size-21-i {
  font-size: 21px !important;
}

.v-size-22-i {
  font-size: 22px !important;
}

.v-size-23-i {
  font-size: 23px !important;
}

.v-size-24-i {
  font-size: 24px !important;
}

.v-size-25-i {
  font-size: 25px !important;
}

.v-size-26-i {
  font-size: 26px !important;
}

.v-size-27-i {
  font-size: 27px !important;
}

.v-size-28-i {
  font-size: 28px !important;
}

.v-size-29-i {
  font-size: 29px !important;
}

.v-size-30-i {
  font-size: 30px !important;
}

.v-size-31-i {
  font-size: 31px !important;
}

.v-size-32-i {
  font-size: 31px !important;
}

.v-size-33-i {
  font-size: 33px !important;
}

.v-size-34-i {
  font-size: 34px !important;
}

.v-size-35-i {
  font-size: 35px !important;
}

.v-size-36-i {
  font-size: 36px !important;
}

.v-size-37-i {
  font-size: 37px !important;
}

.v-size-38-i {
  font-size: 38px !important;
}

.v-size-39-i {
  font-size: 39px !important;
}

.v-size-40-i {
  font-size: 40px !important;
}

.v-size-41-i {
  font-size: 41px !important;
}

.v-size-42-i {
  font-size: 41px !important;
}

.v-size-43-i {
  font-size: 43px !important;
}

.v-size-44-i {
  font-size: 44px !important;
}

.v-size-45-i {
  font-size: 45px !important;
}

.v-size-46-i {
  font-size: 46px !important;
}

.v-size-47-i {
  font-size: 47px !important;
}

.v-size-48-i {
  font-size: 48px !important;
}

.v-size-49-i {
  font-size: 49px !important;
}

.v-size-50-i {
  font-size: 50px !important;
}

/* ALIGN */

.v-txt-center {
  text-align: center;
}

.v-txt-left {
  text-align: left;
}

.v-txt-right {
  text-align: right;
}

.v-right {
  float: right;
}

.v-left {
  float: left;
}

.v-float-none {
  float: none;
}

/* POSITIONS */

[class*='v-pos-top'], [class*='v-pos-bottom'], [class*='v-pos-left'], [class*='v-pos-right'], [class*='v-pos-center'] {
    position: absolute !important;
}

.v-pos-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    width: -moz-max-content;
    max-width: 100%;
    box-sizing: border-box;
}

.v-pos-top-left {
    top: 0;
    left: 0;
}

.v-pos-top-center {
    top: 0;
}

.v-pos-bottom-center {
    bottom: 0;
}

.v-pos-top-center, .v-pos-bottom-center {
    left: 50%;
    transform: translateX(-50%);
    display: table;
    width: -moz-max-content;
    max-width: 100%;
    box-sizing: border-box;
}

.v-pos-top-right {
    top: 0;
    right: 0;
}

.v-pos-center-left {
    left: 0;
}

.v-pos-center-right {
    right: 0;
}

[class*='v-pos-center-left'], [class*='v-pos-center-right'] {
    top: 50%;
    transform: translateY(-50%);
}

.v-pos-bottom-left {
    bottom: 0;
    left: 0;
}

.v-pos-bottom-right {
    bottom: 0;
    right: 0;
}

/* ALIGN IMPORTANT */

.v-txt-center-i {
  text-align: center !important;
}

.v-txt-left-i {
  text-align: left !important;
}

.v-txt-right-i {
  text-align: right !important;
}

.v-right-i {
  float: right !important;
}

.v-left-i {
  float: left !important;
}

.v-float-none-i {
  float: none !important;
}

/* END HELPERS */